@model Ingeniux.Runtime.ICMSElement

@if(Model != null)
{ 
    var copyright = Model.GetElementValue("Copyright");
    
    <footer class="container-fluid text-center">
        <p>@copyright</p>
    </footer>
}
