<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="Search" type="Ingeniux.Search.Configuration.IndependentIndexingSourceConfig, Ingeniux.Search" />
	</configSections>
	<Search>
		<Settings>
			<!-- tracking cycles are
				year
				month-->
			<add name="trackingCycle" value="year" />
			
			<!-- cycle of saving results to index, default 5 minutes (300)-->
			<add name="batchPeriod" value="60" />
		</Settings>
	</Search>
</configuration>